<section class="container-hero">
	<div class="container-hero-text mini-column">
		<h2 class="heading-l">Goal focused, feedback driven giveaways for Shopify stores.</h2>
		<h3 class="heading-s">Create, automate, forecast and analyse your giveaways with <strong>Windfall</strong>.</h3>
		<a title="Get Windfall" href="https://apps.shopify.com/windfall"><img alt="Shopify App Store banner" width="250" src="/Shopify-App-Store-Badge-Final-Black.svg"></a>
	</div>
	<div class="container-hero-image mini-glow">
		<img class="image-responsive--large" src="/photos/hero-img-4.png">
	</div>
</section>
<section class="main">
	<hr>
	<section class="lean-section">
		<section class="lean-container mini-column mini-between">
			<div class="mini-border"><img alt="Screenshot of giveaway templates in the Windfall app" class="image-screenshot" src="/photos/a-home-bottom.png"></div>
			<h3 class="heading">Create once, run forever.</h3>
			<div>
				<p class="heading-s">Save enormous time and turn your giveaway events into templates for repeat use with an effortless button press activation.</p>
			</div>
		</section>
		<section class="lean-container mini-column mini-between">
			<div class="mini-border"><img alt="Screenshot of giveaway page on the Windfall app" class="image-screenshot" src="/photos/a-le-display-top.png"></div>
			<h3 class="heading">Forget discount codes creation.</h3>
			<div>
				<p class="heading-s">Get a scalable discount code generation at your fingertips that automatically rewards the right prize to the right customer.</p>
			</div>
		</section>
		<section class="lean-container mini-column mini-between">
			<div class="mini-border"><img alt="Screenshot of analytics page on the Windfall app" class="image-screenshot" src="/photos/a-analytics.png"></div>
			<h3 class="heading">Reflect on performance.</h3>
			<div>
				<p class="heading-s">Set goals for every giveaway and reach your revenue targets through a feedback loop that pushes you do better every time.</p>
			</div>
		</section>
		<section class="lean-container mini-column mini-between">
			<div class="mini-border"><img alt="Screenshot of email configuration page on the Windfall app" class="image-screenshot" src="/photos/a-email-top.png"></div>
			<h3 class="heading">Built-in email automation.</h3>
			<div>
				<p class="heading-s">Never get bogged down by tedious prize distribution tasks. Automatically send multiple prizes to winners via bulk emails.</p>
			</div>
		</section>
	</section>
	<hr>
</section>