<section class="container-hero">
	<div class="container-hero-text">
		<h2 class="heading-l">A clear path to sky high revenue with our Shopify apps.</h2>
	</div>
	<div class="container-hero-image mini-glow">
		<img class="image-responsive--large" src="/Windfall-logo.png">
	</div>
</section>
<section class="container">
	<div class="sizer mini-glow--withPadding">
		<div class="sizer-item--const mini-column mini-center mini-glow--withPadding">
			<img alt="Windfall app logo" class="image-square--small" src="/Windfall-logo.png">
			<h2 class="heading">Windfall</h2>
		</div>
		<div class="sizer-item mini-column mini-center">
			<h3 class="heading-s">Windfall is a goal focused, feedback driven giveaway events tool for your Shopify store.</h3>
		</div>
	</div>
	<p class="container-text">Create giveaways and automate the process while utilizing forecasting algorithms and analytics to quickly match your way to success.</p>
	<div class="mini-row mini-center">
		<a title="Get Windfall" href="https://apps.shopify.com/windfall"><img alt="Shopify App Store banner" width="160" src="/Shopify-App-Store-Badge-Final-White.svg"></a>
		<a href="/windfall" title="More"><div class="link-button">More</div></a>
	</div>
</section>