<section class="container-hero">
	<div class="container-hero-text">
		<h2 class="heading-l">A clear path to profitability with our Shopify apps.</h2>
	</div>
	<div class="container-hero-image">
		<img alt="Hero image" class="image-reponsive--large" src="/photos/fr-home.png">
	</div>
</section>
<section class="container">
	<h2 class="heading">Run extensive giveaway events and automate the process with Windfall</h2>
	<p class="container-text">The easiest most comprehensive way to run giveaways at scale on your Shopify store. It arms you with the ability to always give your customers an incentive to spend more.</p>
	<p class="call-to-action">Coming soon...</p>
</section>