<section class="container-hero">
	<img class="image-large" src="/windfall-logo.png">
</section>
<section class="container">
	<h1 class="heading">Run extensive giveaway events and automate the process with Windfall</h1>
	<p class="container-text">The easiest most comprehensive way to run giveaways at scale on your Shopify store. It arms you with the ability to always give your customers an incentive to spend more.</p>
	<p class="call-to-action">Coming soon...</p>
</section>