<section class="container">
	<h1 class="heading">Privacy policy</h1>
	<p class="container-text">A Shopify app that is simply the easiest most comprehensive way to run giveaways at scale on your Shopify store. It arms you with the ability to always give your customers an incentive to spend more.</p>
</section>