<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap" rel="stylesheet">
	<link href="https://api.fontshare.com/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<title><%= title %></title>
</head>
<body>
	<header>
		<nav class="container-nav">
			<ul class="list">
				<li class="logo"><a title="Home" href="/"><img alt="Makamuta logo" width="250" src="/makamuta-logo.svg"></a></li>
			</ul>
		</nav>
	</header>
	<main>
		<%- body %>
	</main>
	<footer class="mini-column mini-center">
		<nav class="container-nav">
			<ul class="list-footer">
				<li class="footer-item"><a title="Privacy policy" href="/windfall/privacy-policy">Privacy</a></li>
			</ul>
		</nav>
		<div>Made with <span class="heading-s">&hearts;</span> by <a title="Alex Kokobane's Twitter profile" href="https://twitter.com/alexkokobane" target="_blank">Alex Kokobane</div>
	</footer>
</body>
</html>